.gradient-custom {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.card-custom {
  border-bottom-left-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  background-color: #f8f9fa ;
}


.input-custom {
  background-color: white ;
}

.white-text {
  color: hsl(52, 0%, 98%);
  font-weight: 100 ;
  font-size: 14px;
}

.back-button {
  background-color: hsl(52, 0%, 98%);
  font-weight: 700;
  color: black ;
  margin-top: 50px ;
}

.button{
    background: linear-gradient(135deg, #753370 0%, #298096 100%);
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 10px;
    width:30%;
    float: right;
    letter-spacing: .11rem;
    outline:none;
}

.button:hover
{
	transform: scale(1.05) translateY(-3px);
    box-shadow: 3px 3px 6px #38373785;
}